2019-12-16-introduccion.md#
# This file contains configuration flags to customize your site
#

# Name of your site (displayed in the header)
name: Ivan Basurto Delgado

# Short bio or description (displayed in the header)
description: Proyecto de Introducción a la Ingeniería de Software

# URL of your avatar or profile pic (you could use your GitHub profile pic)
avatar: https://lh3.googleusercontent.com/uB5r6lnUqVmLuiSBeqMiNdqGQXwZGj-U-p_9Y0TGh02AgdP4Cn3pIxJxxeBCqUlT8O_cqPExobls7sJMkJ6UW6RHiFJ-5T6o75Z3B_eQ2vbHHXDFQrGaEsRML5rxBRQRv-tSd5_fKMPwSO_cdU1Yh-DvoJzrbkWVlfyZuYomES2gmQY6XQnOXhhGCGhU5StuFwyl2PMVEK0wpZbbLlvaE2Zb_YHz9f1nlrbuhLvo4k3xK00LyrnXO103QBifMlW6vCP7puazQSKST5T7XBrdfD1qkwupMDYnPieAK18imJEOs0_7gNFyijVGGTcwvp1MG5dGVgSERywPTcC-X0Wsy32LO0TMwdFK4-Ux2KSz0N90dgFzDf4x4s_3dvk7yoSx00LwZvzJANPt989bYJupDMo9UumdGI-6ENr9af7BMaItBOQU2IEALAqg0TSjkNZUKNNSyLOYl92Du95V8rA9B-aS8BNR3q9eEfRAAJpCztS7LfQHjOh0S1EUDi1WxVYca3jEcJcyzLds7RlWrZHbLeVLAyW_bZO-P2gTsFqYsb4KEiownQ4tfxToJFhxa7dXy5envbu9PdPp-fgCSYsgkaJNMYkUHabC22fs8no6OZKQR2n5Fu6G4jgcYLp77zfb6GR8_3Y8ANXUv4pb2C27ScSvtAaucxwgilFMCOWR-xIJ49Td8Psi86w=w521-h694-no

#
# Flags below are optional


# Includes an icon in the footer for each username you enter
footer-links:
  dribbble:
  email: ivan.basurtod@ug.edu.ec
  facebook: https://es-la.facebook.com/ivancito.daniel240
  github: barryclark/jekyll-now
  instagram: https://www.instagram.com/ivan_daniel240/?hl=es-la
  twitter: https://twitter.com/ivan_badel240



# Enter your Disqus shortname (not your username) to enable commenting on posts
# You can find your shortname on the Settings page of your Disqus account
disqus:

# Enter your Google Analytics web tracking code (e.g. UA-2110908-2) to activate tracking
google_analytics:

# Your website URL (e.g. http://barryclark.github.io or http://www.barryclark.co)
# Used for Sitemap.xml and your RSS feed
url:
2019-12-16-introduccion.md
# If you're hosting your site at a Project repository on GitHub pages
# (http://yourusername.github.io/repository-name)
# and NOT your User repository (http://yourusername.github.io)
# then add in the baseurl here, like this: "/repository-name"
baseurl: ""

#
# !! You don't need to change any of the configuration flags below !!
#

permalink: /:title/

# The release of Jekyll Now that you're using
version: v1.2.0

# Jekyll 3 now only supports Kramdown for Markdown
kramdown:
  # Use GitHub flavored markdown, including triple backtick fenced code blocks
  input: GFM
  # Jekyll 3 and GitHub Pages now only support rouge for syntax highlighting
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    # Use existing pygments syntax highlighting css
    css_class: 'highlight'

# Set the Sass partials directory, as we're using @imports
sass:
  style: :expanded # You might prefer to minify using :compressed

# Use the following plug-ins
gems:
  - jekyll-sitemap # Create a sitemap using the official Jekyll sitemap gem
  - jekyll-feed # Create an Atom feed using the official Jekyll feed gem

# Exclude these files from your production _site
exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - CNAME
